<tf-ng-side-drawer [opened]="isOpened" (opened-changed)="isOpened=$event">

	<!-- <ul>
		<li (click)="onClick()">foo</li>
		<li>bar</li>
		<li>etc</li>
	</ul> -->

  <ul
  nz-menu nzTheme="dark"
  class="slider-menu"
>

  <span >
    <!-- Menu item with sub menu items -->
    <li>
      <span title>title</span>
      <ul>
        <li>igidlj</li>
        <li><span title>ghh</span></li>
        <li><span title>ghh</span></li>
        <li><span title>ghh</span></li>
        <li><span title>ghh</span></li>
      </ul>
    </li>
  </span>
  <!-- <span>
    <li><span title>ghh</span></li>
    <li><span title>ghh</span></li>
    <li><span title>ghh</span></li>
    <li><span title>ghh</span></li>
  </span>
  <span >
    <li>
      <span title>title</span>
      <ul>
        <li>igidlj</li>
        <li><span title>ghh</span></li>
        <li><span title>ghh</span></li>
        <li><span title>ghh</span></li>
        <li><span title>ghh</span></li>
      </ul>
    </li>
  </span>
  <span>
    <li><span title>ghh</span></li>
    <li><span title>ghh</span></li>
    <li><span title>ghh</span></li>
    <li><span title>ghh</span></li>
  </span>
  <span >
    <li>
      <span title>title</span>
      <ul>
        <li>igidlj</li>
        <li><span title>ghh</span></li>
        <li><span title>ghh</span></li>
        <li><span title>ghh</span></li>
        <li><span title>ghh</span></li>
      </ul>
    </li>
  </span>
  <span >
    <li>
      <span title>title</span>
      <ul>
        <li>igidlj</li>
        <li><span title>ghh</span></li>
        <li><span title>ghh</span></li>
        <li><span title>ghh</span></li>
        <li><span title>ghh</span></li>
      </ul>
    </li>
  </span>
  <span>
    <li><span title>ghh</span></li>
    <li><span title>ghh</span></li>
    <li><span title>ghh</span></li>
    <li><span title>ghh</span></li>
  </span> -->
</ul>



  <tf-ng-item
    colour="dark"
    bottom
  >
    <tf-ng-hexagon
      colour="white" outline-colour="blue"
      size="xs"
    >
      <tf-ng-product-initials
        colour="blue"
        code="sm"
        size="xs"
      ></tf-ng-product-initials>
    </tf-ng-hexagon>
  </tf-ng-item>

</tf-ng-side-drawer>
